@(allT: List[models.Tools])

@main("All Tools"){
<div class="container">
        @if(allT.isEmpty()){
                <h2>There are no tools available now</h2>
                <h3>Please check again later. Thank you! </h3>
        }   else {
            <h2>List of Tools</h2>
                <ul> @for(a <- allT){
                    <li>
                        <a href="@routes.Tools.show(a.id)"><button class="btn btn-link btn-lg">@a.name</button></a>
                        <p>Posted by: @a.owner.username</p>
                    </li>
                }
                </ul>
    }
</div>
}