@(allT: List[models.Tools])

@main("All Tools"){
<div class="container">
        @if(allT.isEmpty()){
                <h2>There are no tools available now</h2>
                <h3>Please check again later. Thank you! </h3>
        }   else {
            <center><h1>List of Tools</h1></center>
                <ul> @for(a <- allT){
                    <li>
                        <h2><a href="@routes.Tools.show(a.id)"><button class="btn btn-link btn-lg" style="color:#F1C40F">@a.name</button></a></h2>
                        <p style="font-size:large"><em>Posted by: @a.owner.username</em></p>
                    </li>
                }
                </ul>
    }
</div>
}