@(types: List[ToolType], a:models.Users)

@main("ToolTypes") {
<div class="container">
    @if((session().get("user_id") !=null)&&(Long.parseLong(session().get("user_id")) == a.id)){
    <div class="offset-sm-4">
        <form action = "@routes.ToolTypes.create()" method = "post">
            <div class="col-sm-5">
                <input type = "text" placeholder="Create New Tool Type" class="form-control input" name = "name">
            </div>
            <button class="btn btn-default">submit</button>
        </form>
    </div>
    }

    @if(types.isEmpty()) {
    <h2>No types available</h2>
    } else {
        <center><h1>Tool Types List</h1></center>
        <ul>
            @for(ty <- types) {
                <li>
                    <a href= "@routes.ToolTypes.show(ty.id)"><button class="btn btn-link btn-lg">@ty.name</button></a>
                </li>
            }
        </ul>
    }

</div>
}

