@(mytools:List[models.Tools])

@main("Tool Sharing") {
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span3 col-sm-offset-11"><h2><a href="@routes.Tools.index()"> <span class="label label-info">New Tool</span> </a></h2></div>
        </div>

        <h2>Tools</h2>
        @if(mytools.isEmpty()){
            <h3>No tools posted</h3>
        }   else{
            <ul>
                @for(mt<-mytools){
                    <li><a href="@routes.Tools.show(mt.id)"><button class="btn btn-link btn-large">@mt.name</button></a></li>
                }
            </ul>
        }

    </div>


</div>
}