@(mytools:List[models.Tools], accepted:List[Request], lent:List[Request])

@main("Tool Sharing") {
<div class="container">
    <div class="container">
        <div class="row">
            <div class="span3 col-sm-offset-11"><h2><a href="@routes.Tools.index()"> <span class="label label-info">New Tool</span> </a></h2></div>
        </div>

        <h2>Tools</h2>
        @if(mytools.isEmpty()){
            <h3>No tools posted</h3>
        }   else{
            <ul>
                @for(mt<-mytools){
                    <li><a href="@routes.Tools.show(mt.id)"><button class="btn btn-link btn-lg">@mt.name</button></a></li>
                    @if(mt.reqList.isEmpty()){
                    <em style="font-size:small;">no requests</em>
                    }   else{
                    <ul>
                        @for(r<-mt.reqList){
                            @if(r.status ==false){
                                <li><a href="@routes.Requests.acceptRequest(r.id)" class="btn btn-link">@r.borrower.username</a></li>
                            }
                        }
                    </ul>
                    }
                }
            </ul>
        }
        <h2>Accepted Request</h2>
        @if(accepted.isEmpty()){
        <h4><emp>No accepted Requests</emp></h4>
        }   else{
        @for(a<-accepted){
            @if(a.status == true){
                <ul>
                    <li>@a.wanted.name <em>from @a.lender.username</em></li>
                </ul>
            }
            @if(a.dismiss == true){
                <ul>
                    <form action="@routes.Requests.delReq(a.id)" method="post">
                        <li><button class="btn btn-link btn-sm"> <em>@a.lender.username declined your request for @a.wanted.name</em></button></li>
                    </form>
                </ul>
            }
        }
        }
    </div>
    <h2>Borrowed Tools</h2>
    @if(lent.isEmpty){
    <h4>No Tools currently lent out</h4>
    }   else{
    @for(l<-lent){
        @if(l.status == true){
        <ul>
            <form action="@routes.Requests.returnTool(l.id)" method="post">
                <li><button class="btn btn-link"><em>@l.wanted.name has been returned</em></button></li>
            </form>
        </ul>
        }
    }
    }

</div>
}