@(message: String)

@main("Tool Sharing") {
<div class="container">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <img src="@routes.Assets.versioned("images/logo.jpg")" class="img-responsive">
            </div>
        </div>
        <br>
<h3>Why buy tools that won't be used often?</h3>
    <h3>Borrow it Instead! </h3>
    <h4>
        Find all the tools that you have always wanted to try out but never have a chance to
        buy with our reliable website that allows users to post and borrow tools within a
        Community!
    </h4>
    </div>
</div>
}








