@(title: String)(content: Html)

<!DOCTYPE html>

<html class="full" lang="en">
<head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <link rel='stylesheet' href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
    <style>
        html{
        border-style: solid;
        border-width: 5px;
        border-color: #FF9400;
        min-height:100%;
        }
        body{
        padding-top:50px;
        background-image:url("@routes.Assets.versioned("images/tools.jpg")");
        background-size:cover;
        min-height:100%;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="@routes.Application.index()"><em>lend borrow share</em></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="@routes.ToolTypes.index()">Tool Types</a></li>
                    @if(session().get("user_id") != null){
                    <li class ="active"><a href='@routes.Users.show(Long.parseLong(session().get("user_id")))'>Profile</a></li>
                    }
                    <li><a href="@routes.ToolTypes.index()">Tool Types</a></li>
                    <li><a href="@routes.Tools.allTools()">All Tools</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if(session().get("user_id") == null){
                    <li><a href="@routes.Application.signup()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li class="active"><a href="@routes.Application.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }   else{
                    <li><a href="@routes.Application.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
<div  style="background-color:rgba(215,215,215,0.65);">
    <center>
        @* Display flash messages *@
        @if(flash.containsKey("success")) {
        <p>Success Flash Message:</p>
        @flash.get("success")
        }
        @if(flash.containsKey("error")) {
        <p>Error Flash Message:</p>
        @flash.get("error")
        }
    </center>
    @content
</div>

<script src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
<script src='@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")'></script>
</body>

</html>








