@(message: String)

@main(""){
<div class="container">
    <h2>SignUp</h2>
    <form class="form-horizontal" action="@routes.Application.newUser()" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter Username">
        </div>
        <br>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <br>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter Email">
        </div>

        <button class="btn btn-default">Submit</button>
    </form>
</div>
}